# Ignore node_modules directories
**/node_modules/

# Ignore npm debug logs
npm-debug.log*

# Ignore yarn debug logs
yarn-debug.log*
yarn-error.log*

# Ignore yarn lock file
**/yarn.lock

# Ignore npm lock file
**/package-lock.json

# Ignore .env files which might contain sensitive information
**/.env

# Ignore log files
**/*.log

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code settings
.vscode/

# Ignore JetBrains IDE settings
.idea/

# Ignore any built output
**/dist/
# **/build/